@model IEnumerable<Bill>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Istorija svih plaćanja</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Šifra računa
                    </th>
                    <th>
                        Korisnik
                    </th>
                    <th>
                        Datum kreiranja
                    </th>
                    <th>
                        Ukupna cena
                    </th>
                    <th>
                        Status
                    </th>
                    <th>Operacije</th>
                </tr>
            </thead>
            <tbody> 
                @if (Model != null)
                {
                    @foreach (var bill in Model)
                    {
                        <tr>
                            <td>@bill.Id</td>
                            <td>@bill.User?.Name @bill.User?.Surname</td>
                            <td>@bill.CreationDate?.ToString("dd/M/yyyy")</td>
                            <td>@bill.TotalPrice din</td>
                            @if(bill.Status == "Izdato")
                            {
                                <td><span class="badge bg-success text-black fw-bold">@bill.Status</span></td>
                            }
                            else if(bill.Status == "Stornirano")
                            {
                                <td><span class="badge bg-danger text-black fw-bold">@bill.Status</span></td>
                            }
                            else
                            {
                                <td><span class="badge bg-warning text-black fw-bold">@bill.Status</span></td>
                            }
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="BillItem" asp-action="Index" asp-route-id="@bill.Id" class="btn btn-success mx-2">
                                        <i class="bi bi-receipt"></i> Detalji
                                    </a>

                                    @if(bill.Status == "Storniranje")
                                    {
                                        <a asp-controller="Bill" asp-action="Reversal" asp-route-id="@bill.Id" class="btn btn-danger mx-2">
                                            <i class="bi bi-x-circle"></i> Stornirajte
                                        </a>
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

