@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json
@inject IHttpContextAccessor HttpContextAccessor

@model IEnumerable<Treatment>

<div class="row pb-3">
    @foreach (var treatment in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded"> 
                        @if(treatment.Image != null) {
                            <img src="@treatment.Image" class="card-img-top rounded" />
                        }
                        else {
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                        }
                        
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@treatment.Name</p>
                                <p class="card-title text-warning text-center">Description: <b>@treatment.Description</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    Cena: 
                                    <span>
                                        @treatment.Price din
                                    </span>
                                </p>
                            </div>
                        </div>
                        @{
                            var isLoggedIn = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
                            var isAdmin = HttpContextAccessor.HttpContext.User.IsInRole("Admin");
                        }

                        @if (isLoggedIn)
                        {
                            <div>
                                <a asp-controller="Reservation" asp-action="Create"
                            asp-route-treatmentId="@treatment.Id"
                            class="btn btn-primary bg-gradient border-0 form-control">
                                    Zakažite
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>